.untrodden-logo{
    height: 16vmax;
    transition-duration: 0.3s;
    
 }

 .bootcamper-logo{
    width: 21vmax;
    transition-duration: 0.3s;
    
 }

 .fire-logo{
    height: 14vmax;
    transition-duration: 0.3s;
    margin-bottom: 1.5vmax;
    
 }


 .untrodden-logo:hover{
    transition-duration: 0.3s;
    transform: scale(1.04);
    cursor: pointer;
 }

 .bootcamper-logo:hover{
    transition-duration: 0.3s;
    transform: scale(1.04);
    cursor: pointer;
 }

 .fire-logo:hover{
    transition-duration: 0.3s;
    transform: scale(1.04);
    cursor: pointer;
 }

.projects-banner{
    display: flex;
    background-color: #DB3732;
    box-shadow:0 5px 10px rgba(0,0,0,0.19), 0 3px 2px rgba(0,0,0,0.23);
    justify-content: center;
    align-items: center;
    padding: 0.4vmax 2vmax;
    z-index: -1;
    height: 3vmax;
    overflow: visible;
    transition-duration: 0.3s;
    
}

.projects-title{
    background-color: #FEE600;
    border-radius: 5px;
    padding: 0.01vmax 2vmax;
    border: solid 0.5vmax black;
    box-shadow:0 5px 10px rgba(0,0,0,0.19), 0 3px 2px rgba(0,0,0,0.23);
    box-shadow:0 5px 10px rgba(0,0,0,0.19), 0 3px 2px rgba(0,0,0,0.23);
    transition-duration: 0.3s;

}

.section-title{
    font-size: 100%;
    /* margin: 10%; */
    transition-duration: 0.3s;

}


.Projects-Container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 6vmax 0px;
}



.projects{
    padding-top: 6vmax;
}


@media screen and (max-width: 1235px) {
   
    .Projects-Container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 6vmax 0px;
        align-items: center;
    }

}



