.primary-btn-green{
    background-color: #FEE600;
    border-radius: 0.5vmax;
    border: solid 0.2vmax black;
    font-family: "Arial Black";
    font-size: 1vmax;
    padding: 0.1vmax 1vmax;
    box-shadow:0 5px 10px rgba(0,0,0,0.19), 0 3px 2px rgba(0,0,0,0.23);
    z-index: 1;
    margin-left: 0.3vmax;
    margin-right: 0.3vmax;
    cursor: pointer;
    transition-duration: 0.2s;

}

/* colour for the button when mouse hovers over it */
.primary-btn-green:hover{
    transform: scale(1.03);
    cursor: pointer;
    text-decoration: underline 0.2vmax #49A259;

}

.primary-btn-green-active{
    background-color: #FEE600;
    border-radius: 0.5vmax;
    border: solid 0.2vmax black;
    font-family: "Arial Black";
    font-size: 1vmax;
    padding: 0.1vmax 1vmax;
    box-shadow:0 5px 10px rgba(0,0,0,0.19), 0 3px 2px rgba(0,0,0,0.23);
    z-index: 1;
    margin-left: 0.3vmax;
    margin-right: 0.3vmax;
    cursor: pointer;
    transition-duration: 0.2s;
    transform: scale(1.03);
    cursor: pointer;
    text-decoration: underline 0.2vmax #49A259;
}



.primary-btn-blue{
    background-color: #FEE600;
    border-radius: 0.5vmax;
    border: solid 0.2vmax black;
    font-family: "Arial Black";
    font-size: 1vmax;
    padding: 0.1vmax 1vmax;
    box-shadow:0 5px 10px rgba(0,0,0,0.19), 0 3px 2px rgba(0,0,0,0.23);
    z-index: 1;
    margin-left: 0.3vmax;
    margin-right: 0.3vmax;
    cursor: pointer;
    transition-duration: 0.2s;

}

/* colour for the button when mouse hovers over it */
.primary-btn-blue:hover{
    transform: scale(1.03);
    cursor: pointer;
    text-decoration: underline 0.2vmax #2766AD;

}

.primary-btn-blue-active{
    background-color: #FEE600;
    border-radius: 0.5vmax;
    border: solid 0.2vmax black;
    font-family: "Arial Black";
    font-size: 1vmax;
    padding: 0.1vmax 1vmax;
    box-shadow:0 5px 10px rgba(0,0,0,0.19), 0 3px 2px rgba(0,0,0,0.23);
    z-index: 1;
    margin-left: 0.3vmax;
    margin-right: 0.3vmax;
    cursor: pointer;
    transition-duration: 0.2s;
    transform: scale(1.03);
    cursor: pointer;
    text-decoration: underline 0.2vmax #2766AD;
}




.primary-btn-red{
    background-color: #FEE600;
    border-radius: 0.5vmax;
    border: solid 0.2vmax black;
    font-family: "Arial Black";
    font-size: 1vmax;
    padding: 0.1vmax 1vmax;
    box-shadow:0 5px 10px rgba(0,0,0,0.19), 0 3px 2px rgba(0,0,0,0.23);
    z-index: 1;
    margin-left: 0.3vmax;
    margin-right: 0.3vmax;
    cursor: pointer;
    transition-duration: 0.2s ease;

}

/* colour for the button when mouse hovers over it */
.primary-btn-red:hover{
    transform: scale(1.03);
    cursor: pointer;
    text-decoration: underline 0.2vmax #DB3732;

}
.primary-btn-red-active{
    background-color: #FEE600;
    border-radius: 0.5vmax;
    border: solid 0.2vmax black;
    font-family: "Arial Black";
    font-size: 1vmax;
    padding: 0.1vmax 1vmax;
    box-shadow:0 5px 10px rgba(0,0,0,0.19), 0 3px 2px rgba(0,0,0,0.23);
    z-index: 1;
    margin-left: 0.3vmax;
    margin-right: 0.3vmax;
    cursor: pointer;
    transition-duration: 0.2s;
    transform: scale(1.03);
    cursor: pointer;
    text-decoration: underline 0.2vmax #DB3732;

}


/* the theme to have if this route is active */
/* .primary-btn-red.active{
    transform: scale(1.03);
    cursor: pointer;
    text-decoration: underline 3px #DB3732;
} */

/* the line under neath the text */
/* .primary-btn:hover.active::after{

} */


.primary-btn-home{
    background-color: #FEE600;
    border-radius: 0.5vmax;
    border: solid 0.2vmax black;
    font-family: "Arial Black";
    font-size: 1vmax;
    padding: 0.1vmax 1vmax;
    box-shadow:0 5px 10px rgba(0,0,0,0.19), 0 3px 2px rgba(0,0,0,0.23);
    z-index: 1;
    margin-left: 0.3vmax;
    margin-right: 0.3vmax;
    cursor: pointer;
    transition-duration: 0.2s;

}

/* colour for the button when mouse hovers over it */
.primary-btn-home:hover{
    transform: scale(1.03);
    cursor: pointer;
    text-decoration: underline 0.2vmax #2766AD;

}

.primary-btn-home-active{
    background-color: #FEE600;
    border-radius: 0.5vmax;
    border: solid 0.2vmax black;
    font-family: "Arial Black";
    font-size: 1vmax;
    padding: 0.1vmax 1vmax;
    box-shadow:0 5px 10px rgba(0,0,0,0.19), 0 3px 2px rgba(0,0,0,0.23);
    z-index: 1;
    margin-left: 0.3vmax;
    margin-right: 0.3vmax;
    cursor: pointer;
    transition-duration: 0.2s;
    transform: scale(1.03);
    cursor: pointer;
    text-decoration: underline 0.2vmax #2766AD;
}