.primary-btn{
    background-color: #FEE600;
    border-radius: 5px;
    border: solid 0.2vmax black;
    font-family: "Arial Black";
    font-size: 1vmax;
    padding: 0.1vmax 1vmax;
    box-shadow:0 5px 10px rgba(0,0,0,0.19), 0 3px 2px rgba(0,0,0,0.23);
    z-index: 1;
    margin-left: 0.3vmax;
    margin-right: 0.3vmax;
    cursor: pointer;
    transition-duration: 0.2s;

}

/* colour for the button when mouse hovers over it */
.primary-btn:hover{
    background-color: #49A259;
}

/* the theme to have if this route is active */
/* .primary-btn:hover.active{
 
} */

/* the line under neath the text */
/* .primary-btn:hover.active::after{

} */
