
#welcome-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    /* width: 60vmax; */
}


.home-welcome{
    display: flex;
    /* box-shadow:0 5px 10px rgba(0,0,0,0.19), 0 3px 2px rgba(0,0,0,0.23); */
    justify-content: center;
    align-items: center;
    padding: 1vmax 1vmax;
    z-index: -1;
    height: 5vmax;
    transition-duration: 0.3s;
    margin: 13vmax 14vmax;
}

.home-icon{
    height: 25vmax;
    transition-duration: 0.3s;

    /* box-shadow:0 5px 10px rgba(0,0,0,0.19), 0 3px 2px rgba(0,0,0,0.23); */
}

.welcome-paragraph{
    font-size: 4vmax;
    transition-duration: 0.3s;
    margin: 2vmax;

}

.background-style-welcome{
   
    background-color: #FEE600;
    border-radius: 1vmax;
    border: solid 1.5vmin black;
    padding: 0px 0vmax;
    width: 50vmax;
    height:18vmax;
    transition-duration: 0.3s;

    /* box-shadow:0 5px 10px rgba(0,0,0,0.19), 0 3px 2px rgba(0,0,0,0.23); */

}


@media screen and (max-width: 1023px) {
    #welcome-container{
       width: 50vmax;
       margin: 0 1vmax;
       flex-direction: column;
    }

.home-icon{
    height: 60vw;
    margin-bottom: -1.5vmax;
}

.background-style-welcome{
    height: 23vw;
    width: 55vw;
    border: solid 2vmin black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.welcome-paragraph{
   font-size: 5vw;
    margin: 2vmax;
    font-weight: 900;
    margin: auto auto;
}

.home-welcome{
    display: flex;
    /* box-shadow:0 5px 10px rgba(0,0,0,0.19), 0 3px 2px rgba(0,0,0,0.23); */
    justify-content: center;
    align-items: center;
    padding: 1vmax 1vmax;
    z-index: -1;
    height: 5vmax;
    transition-duration: 0.3s;
    margin: 20vh 14vmax;
    margin-top: 16vh;
}
}