.project-icon-container{
    width: 25vmax;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* .project-icon{
    width: 25vmax;
}
  */
 .project-icon-background{
     display: flex;
     background-color: #DB3732;
     box-shadow:0 5px 10px rgba(0,0,0,0.19), 0 3px 2px rgba(0,0,0,0.23);
     justify-content: center;
     align-items: center;
     border-radius: 50%;
     width: 25vmax;
     height: 25vmax;
     margin: 0 auto;
     margin-top: 1vmax;
     margin-bottom: 4vmax;
     transition-duration: 0.3s;
 
 }
 
 .project-title-container{
     background-color: #DB3732;
     color: white;
     border-radius: 5px;
     padding: 0.01vmax 2vmax;
     width: 18vmax;
     /* margin: 2vmax; */
     transition-duration: 0.3s;
     align-items: center;
     box-shadow:0 5px 10px rgba(0,0,0,0.19), 0 3px 2px rgba(0,0,0,0.23);
     height: 25vmax;
 }
 
 .project-icon-title{
     font-size: 1.7vmax;
     margin: 1.7vmin 0px;
     transition-duration: 0.3s;
 
 }



 
 .project-icon-description{
 font-size: 0.9vmax;
 transition-duration: 0.3s;
 height:16vmax;
 width: 18vmax;
 font-family: 'Oswald', sans-serif;
 overflow:auto;
    margin: 0 auto;
 }
 

    

 .project-icon-description::-webkit-scrollbar {
    width: 0.5vmax;               /* width of the entire scrollbar */
  }
  
  .project-icon-description::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
  }

  
  
  .project-icon-description::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.383);    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */
   
  }

 
 .project-icon-description:hover{
    cursor:auto
    
       
    }
 
 .project-titles{
    display: flex;
    justify-content: center;
    margin: 0px 0;
    transition-duration: 0.3s;
    margin-top: -6.5vmax;
}

.project-icon{
display: flex;
align-items: center;   
width: 25vmax;

}

.cta{
    color: #FEE600;
    font-size: 1.2vmax;
    margin: 0 auto;
    /* margin-top:  */
    margin-bottom: 1vmax;
    
}


@media screen and (max-width: 1023px) {
    .project-icon-container{
        width: 20vmax
    }
    .project-icon{ 
        width: 20vmax;
        
        }
    .project-icon-background{
        width: 25vmax;
        height: 20vmax;
    }


    .project-title-container{
        width: 15vmax;
        height: 19vmax;
        margin: 0;

    }
    .project-icon-description{
        width: 15vmax;
    height: 12vmax;    }
        
   

    .project-icon-title{
        font-size: 1.4vmax;
        margin: 1.5vmin 0px;
        transition-duration: 0.3s;
    
    }
    .cta{
        color: #FEE600;
        font-size: 0.9vmax;
        margin: 0 auto;
        /* margin-top: -0.9vmax; */
        margin-bottom: 0.5vmax;
        
    }

}
