

 
 .project-icon-background{
     display: flex;
     background-color: #DB3732;
     box-shadow:0 5px 10px rgba(0,0,0,0.19), 0 3px 2px rgba(0,0,0,0.23);
     justify-content: center;
     align-items: center;
     border-radius: 50%;
     width: 23vmax;
     height: 23vmax;
     margin: 5vmax;
     margin-top: 1vmax;
     transition-duration: 0.3s;
 
 }
 
 .project-title-container{
     background-color: #DB3732;
     color: white;
     border-radius: 5px;
     padding: 0.01vmax 2vmax;
     width: 18vmax;
     margin: 2vmax;
     transition-duration: 0.3s;
     align-items: center;
     box-shadow:0 5px 10px rgba(0,0,0,0.19), 0 3px 2px rgba(0,0,0,0.23);
 }
 
 .project-icon-title{
     font-size: 1.6vmax;
     margin: 1.7vmin 0px;
     transition-duration: 0.3s;
 
 }



 
 .project-icon-description{
 font-size: 0.9vmax;
 transition-duration: 0.3s;
 height:11vmax;
 width: 18vmax;
 font-family: "Arial Black";
 overflow:auto;
    
 }

 .project-icon-description::-webkit-scrollbar {
    width: 1vm;               /* width of the entire scrollbar */
  }
  
  .project-icon-description::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
  }
  
  .project-icon-description::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.445);    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */
    border: 1px solid rgba(255, 255, 255, 0.445);  /* creates padding around scroll thumb */
  }

 
 .project-icon-description:hover{
    cursor:auto
       
    }
 
 .project-titles{
    margin: 0px 4vmax;
    transition-duration: 0.3s;
    margin-top: -6.5vmax;
}

.project-icon{
    margin: 0px 0px;
}

.cta{
    color: #FEE600;
    font-size: 1.1vmax;
    margin-top: -0.9vmax;
}