.project-icon-container{
    width: 30%;
}

.project-icon{
    display: flex;
    align-items: center;
    width: 23vmax;
}
 
 .project-icon-background{
     display: flex;
     background-color: #DB3732;
     box-shadow:0 5px 10px rgba(0,0,0,0.19), 0 3px 2px rgba(0,0,0,0.23);
     justify-content: center;
     align-items: center;
     border-radius: 50%;
     width: 27vmax;
     height: 23vmax;
     margin: 0 auto;
     margin-top: 1vmax;
     margin-bottom: 4vmax;
     transition-duration: 0.3s;
 
 }
 
 .project-title-container{
     background-color: #DB3732;
     color: white;
     border-radius: 5px;
     padding: 0.01vmax 2vmax;
     width: 18vmax;
     margin: 2vmax;
     transition-duration: 0.3s;
     align-items: center;
     box-shadow:0 5px 10px rgba(0,0,0,0.19), 0 3px 2px rgba(0,0,0,0.23);
 }
 
 .project-icon-title{
     font-size: 1.6vmax;
     margin: 1.7vmin 0px;
     transition-duration: 0.3s;
 
 }



 
 .project-icon-description{
 font-size: 0.9vmax;
 transition-duration: 0.3s;
 height:11vmax;
 width: 18vmax;
 font-family: "Arial Black";
 overflow:auto;
    margin: 0 auto;
 }
 

    

 .project-icon-description::-webkit-scrollbar {
    width: 0px;               /* width of the entire scrollbar */
  }
  
  .project-icon-description::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
  }

  
  
  .project-icon-description::-webkit-scrollbar-thumb {
    background-color: transparent;    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */
   
  }

 
 .project-icon-description:hover{
    cursor:auto
    
       
    }
 
 .project-titles{
    display: flex;
    justify-content: center;
    margin: 0px 0;
    transition-duration: 0.3s;
    margin-top: -6.5vmax;
}

/* .project-icon{
    margin: 0px auto;
    
} */

.cta{
    color: #FEE600;
    font-size: 1.1vmax;
    margin: 0 auto;
    margin-top: -0.9vmax;
    margin-bottom: 0;
    
}
.Projects-Container{
    display: flex;
    align-content: center;
    width: 50vw;
    margin: 0;
}

@media screen and (max-width: 1023px) {
    .project-icon-container{
        width: 30%;
    }
    /* .project-icon{
        width: 10vmax
        } */

    .project-icon-background{
        width: 20vmax;
     height: 20vmax;
    }

    .project-title-container{
        width: 15vmax;
        height: 19vmax;
        margin: 0;

    }
    .project-icon-description{
        width: 15vmax;    }
        
    .Projects-Container{
        display: flex;
        align-content: center;
    }

    .project-icon-title{
        font-size: 1.4vmax;
        margin: 1.5vmin 0px;
        transition-duration: 0.3s;
    
    }
    .cta{
        color: #FEE600;
        font-size: 0.9vmax;
        margin: 0 auto;
        /* margin-top: -0.9vmax; */
        margin-bottom: 0.5vmax;
        
    }
}
