

.nav-bar-container{
    
    display: flex;
    background-color: #2766AD;
    box-shadow:0 5px 10px rgba(0,0,0,0.19), 0 3px 2px rgba(0,0,0,0.23);
    justify-content: space-between;
    align-items: center;
    padding: 0.4vmax 2vmax;
    z-index: -1;
    height: 2vmax;
    overflow: visible;
    transition-duration: 0.3s;

    
}
.nav-btn-container{
    display: flex;
    justify-content: space-between;
    padding: 1vmax;
    transition-duration: 0.3s;

    
}

.nav-logo{
    height: 5vmax;
    z-index: 1;
    transition-duration: 0.3s;

    
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    transition-duration: 0.3s;

  }

  .sticky + .content {
    padding-top: 3vmin;
    transition-duration: 0.3s;

  }